.splide {
  height: 100vh;
}
.splide__track {
  height: 100%;
}
.splide__list {
  height: 100%;
}
.splide__slide {
  margin: auto 0;
  font-weight: 900;
  font-size: 3vw;
}
@media not screen and (min-width: 768px) {
  .splide__slide {
    font-size: 5vw;
  }
}
@media not screen and (min-width: 576px) {
  .splide__slide {
    font-size: 5vw;
  }
}